
    <section class="row">

      <div class="left">
      <section class="user-sec">
        <button>Log In</button>
          <button>Sign Up</button>
      </section>
    </div>

    <div class="center">
        
    
      <section class="main-sec">
        
        <button class="likeButton">Like</button>
        <p class="main-sec-user">@danielle99</p>
        <p class="main-sec-post">Suspendisse placerat pellentesque est ut rhoncus. Integer magna dui, tempor et malesuada a, dictum in libero. Nulla mollis nec odio sed facilisis. Curabitur lacinia ligula arcu, sed pellentesque risus accumsan feugiat.</p>
        <!-- <span id="likeCount"></span> -->
        <p class="main-sec-interact">3m ago</p>
        
      </section>

      <section class="main-sec">
        
        <!-- <button class="likeButton">Like</button> -->
        <p class="main-sec-user">@dylan44</p>
        <p class="main-sec-post">Suspendisse placerat pellentesque est ut rhoncus. Integer magna dui, tempor et malesuada a, dictum in libero. Nulla mollis nec odio sed facilisis. Curabitur lacinia ligula arcu, sed pellentesque risus accumsan feugiat.</p>
        <!-- <span id="likeCount"></span> -->
        <p class="main-sec-interact">10m ago</p>
        
      </section>

    </div>

      <div class="right">
      <section class="trending-sec">Trending:</section>
    </section>
  </div>