<section class='row'>
  <div class='left'>
    <section class='user-sec'>
      <div class='user'>
        <button><a href='/login'> Log In</a></button>
        <button><a href='/signup'>Sign Up</a></button>
        <button id='logout-button'>Log Out</button>
      </div>
    </section>

    <section class='user-sec'>
      <div class='user'>
        <h1>@dylan98</h1>
        <br />
        <p>
          25. Full Stack Web Dev since '03. Currently working on two different
          projects with the NHS but always open to more! Any questions or
          suggestions, please email me at dylan.email@email.com
        </p>
        <br />
        <p>21 Posts</p>
        <p>Joined on January 21st 2020</p>
      </div>
    </section>
  </div>

  <div class='center'>
    <section class='cat-sec'>
      <div class='cat-box'>
        <p>#comedy</p>
      </div>
      <div class='cat-box'>
        <p>#general</p>
      </div>
      <div class='cat-box'>
        <p>#help</p>
      </div>
      <div class='cat-box'>
        <p>#discussion</p>
      </div>
    </section>

    <section class='post-sec'>
      <input type='text' class='post-sec-post' />
      <select
        name='category'
        id='category'
        class='post-sec-cat'
        label='category'
      >
        <option value='#comedy'>#comedy</option>
        <option value='#general'>#general</option>
        <option value='#help'>#help</option>
        <option value='#discussion'>#discussion</option>
      </select>
      <button>Post</button>
    </section>

    <section class='main-sec'>
      <p class='main-sec-interact'>3m ago</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'>@danielle99</p>

      <p class='main-sec-post'>
        Whether it is Snapchat, Twitter, Facebook.
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/heart.png' />
          <p>10</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/comment.png' />
          <p>10</p>
        </div>
      </div>
    </section>

    <section class='main-sec'>
      <p class='main-sec-interact'>3m ago</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'>@danielle99 - #comedy</p>

      <p class='main-sec-post'>
        They got there early, and they got really good seats. The anaconda was
        the greatest criminal mastermind in this part of the neighborhood. They
        decided to plant an orchard of cotton candy. The shark-infested South
        Pine channel was the only way in or out. The chic gangster liked to
        start the day with a pink scarf. Normal activities took extraordinary
        amounts of concentration at the high altitude. Malls are great places to
        shop; I can find everything I need under one roof.
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/heart.png' />
          <p>10</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/comment.png' />
          <p>10</p>
        </div>
      </div>
    </section>

    <section class='main-sec'>
      <p class='main-sec-interact'>3m ago</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'>@danielle99</p>

      <p class='main-sec-post'>
        The light in his life was actually a fire burning all around him.
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/heart.png' />
          <p>10</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/comment.png' />
          <p>10</p>
        </div>
      </div>
    </section>

    <section class='main-sec'>
      <p class='main-sec-interact'>3m ago</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'>@danielle99</p>

      <p class='main-sec-post'>
        Mr. Montoya knows the way to the bakery even though he's never been
        there. We have never been to Asia, nor have we visited Africa.
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/heart.png' />
          <p>10</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/comment.png' />
          <p>10</p>
        </div>
      </div>
    </section>

    <section class='main-sec'>
      <p class='main-sec-interact'>3m ago</p>
      <!-- <button class="likeButton">Like</button> -->
      <p class='main-sec-user'>@danielle99</p>

      <p class='main-sec-post'>
        That must be the tenth time I've been arrested for selling deep-fried
        cigars. My uncle's favorite pastime was building cars out of noodles.
        There is no better feeling than staring at a wall with closed eyes.
      </p>

      <div class='main-sec-stats'>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/heart.png' />
          <p>10</p>
        </div>
        <div class='stat-box'>
          <img class='stat-img' width='20px' src='/public/images/comment.png' />
          <p>10</p>
        </div>
      </div>
    </section>
  </div>

  <div class='right'>
    <section class='trending-sec'>Trending:</section>
  </div>
</section>

<script src='./scripts/homepage.js'></script>