<section class="main-sec">
        
        <!-- <button class="likeButton">Like</button> -->
        <p class="main-sec-user">{{ user }}</p>
        <p class="main-sec-post">{{ post }}</p>
        <!-- <span id="likeCount"></span> -->
        <p class="main-sec-interact">{{ time }}/p>
        
      </section>