<section class="row">

          <div class="left">

          <section class="user-sec">
            <div class="user">
            <button>Log In</button>
            <button>Sign Up</button>
          </div>
          </section>

          

        </div>
       
    

      <div class="center">

        <section class="cat-sec">
          <section class="user-sec">
            <div class="user">
            <h1>@danielle99</h1>
            <p>21 Posts</p>
            <p>Joined on January 21st 2020</p>
            
          </div>
          </section>


        </section>
      
        <section class="main-sec">
          
          <button class="likeButton">Like</button>
          <p class="main-sec-user">@danielle99</p>
          <p class="main-sec-post">Suspendisse placerat pellentesque est ut rhoncus. Integer magna dui, tempor et malesuada a, dictum in libero. Nulla mollis nec odio sed facilisis. Curabitur lacinia ligula arcu, sed pellentesque risus accumsan feugiat.</p>
          <!-- <span id="likeCount"></span> -->
          <p class="main-sec-interact">3m ago</p>
          
        </section>

        <section class="main-sec">
          
          <!-- <button class="likeButton">Like</button> -->
          <p class="main-sec-user">@dylan44</p>
          <p class="main-sec-post">Suspendisse placerat pellentesque est ut rhoncus. Integer magna dui, tempor et malesuada a, dictum in libero. Nulla mollis nec odio sed facilisis. Curabitur lacinia ligula arcu, sed pellentesque risus accumsan feugiat.</p>
          <!-- <span id="likeCount"></span> -->
          <p class="main-sec-interact">10m ago</p>
          
        </section>

      </div>

        <div class="right">
        <section class="trending-sec">Trending:</section>
      </div>
  </section>