    <section class="row">
      <div class="left">
        <section class="user-sec">
          <div class="user">
            <button>Log In</button>
            <button>Sign Up</button>
          </div>
        </section>

        <section class="user-sec">
          <div class="user">
            <h1>@dylan98</h1>
            <br />
            <p>
              25. Full Stack Web Dev since '03. Currently working on two
              different projects with the NHS but always open to more! Any
              questions or suggestions, please email me at dylan.email@email.com
            </p>
            <br />
            <p>21 Posts</p>
            <p>Joined on January 21st 2020</p>
          </div>
        </section>
      </div>

      <div class="center">

        <section class="main-post-sec">
          <p class="main-sec-interact">3m ago</p>
          <!-- <button class="likeButton">Like</button> -->
          <p class="main-sec-user">@danielle99</p>

          <p class="main-sec-post">
            Whether it is Snapchat, Twitter, Facebook.
          </p>

          <div class="main-sec-stats">
            <div class="stat-box">
              <img
                class="stat-img"
                width="20px"
                src="/public/images/heart.png"
              />
              <p>10</p>
            </div>
            <div class="stat-box">
              <img
                class="stat-img"
                width="20px"
                src="/public/images/comment.png"
              />
              <p>10</p>
            </div>
          </div>
        </section>

        <section class="thread-response-sec">
           <div class="main-sec-stats">
            <div class="stat-box">
              <img
                class="stat-img"
                width="20px"
                src="/public/images/response.png"
              />
            
            </div>
          <p class="main-sec-interact">3m ago</p>
          <!-- <button class="likeButton">Like</button> -->
          <p class="main-sec-user">@danielle99</p>

          <p class="main-sec-post">
            Whether it is Snapchat, Twitter, Facebook.
          </p>

         
          
          </div>
        </section>

        <section class="thread-response-sec">
          <div class="main-sec-stats">
           <div class="stat-box">
             <img
               class="stat-img"
               width="20px"
               src="/public/images/response.png"
             />
           
           </div>
         <p class="main-sec-interact">3m ago</p>
         <!-- <button class="likeButton">Like</button> -->
         <p class="main-sec-user">@danielle99</p>

         <p class="main-sec-post">
           Whether it is Snapchat, Twitter, Facebook.
         </p>

        
         
         </div>
       </section>

       <section class="thread-response-sec">
        <div class="main-sec-stats">
         <div class="stat-box">
           <img
             class="stat-img"
             width="20px"
             src="/public/images/response.png"
           />
         
         </div>
       <p class="main-sec-interact">3m ago</p>
       <!-- <button class="likeButton">Like</button> -->
       <p class="main-sec-user">@danielle99</p>

       <p class="main-sec-post">
         Whether it is Snapchat, Twitter, Facebook.
       </p>

      
       
       </div>
     </section>

     <section class="thread-response-sec">
      <div class="main-sec-stats">
       <div class="stat-box">
         <img
           class="stat-img"
           width="20px"
           src="/public/images/response.png"
         />
       
       </div>
     <p class="main-sec-interact">3m ago</p>
     <!-- <button class="likeButton">Like</button> -->
     <p class="main-sec-user">@danielle99</p>

     <p class="main-sec-post">
       Whether it is Snapchat, Twitter, Facebook.
     </p>

    
     
     </div>
   </section>

   <section class="thread-response-sec">
    <div class="main-sec-stats">
     <div class="stat-box">
       <img
         class="stat-img"
         width="20px"
         src="/public/images/response.png"
       />
     
     </div>
   <p class="main-sec-interact">3m ago</p>
   <!-- <button class="likeButton">Like</button> -->
   <p class="main-sec-user">@danielle99</p>

   <p class="main-sec-post">
     Whether it is Snapchat, Twitter, Facebook.
   </p>

   </div>
 </section>

        
      </div>
      <div class="right">
        <section class="trending-sec">Trending:</section>
      </div>
    </section>