:root {
    /* --dark: rgb(#27293f);
      --mid: rgb(#34364b); */
    --dark: rgb(39, 41, 64);
    --mid: rgb(52, 54, 75);
    --light: rgb(83, 83, 114);
    --white: white;
    --bs-body-line-height: 1.1;
  }

  body {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100px;
  }

  .form-container {
    display: flex;
    justify-content: center; 
  }
  
  .container {
    width: 300px;
    padding: 20px;
    background-color: var(--mid);
    border-radius: 10px;
    box-shadow: 0 2px 5px grey;
  }
  
  h2 {
    text-align: center;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100px;
    padding: 10px;
    background-color: var(--dark);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: var(--dark);
  }